[Unit]
After=network.target
Description=No Problems Bot

[Service]
Type=simple
ExecStart=/opt/NoProblemsBot/scripts/start.sh
ExecStop=/opt/NoProblemsBot/scripts/down.sh
Restart=always